.nav {
    background-color: orange;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.nav-ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.nav-li {
    list-style: none;
}

.nav-button  {
    background-color: lightyellow;
    border-radius: 10px;
    border: 1px solid darkblue;
    color:darkblue;
    padding: 4px;
}

